body{
    background: linear-gradient(blueviolet, rgb(57, 57, 255));
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
main{
    border-radius: 10px;
    margin: 0;
    box-shadow: 10px 5px 5px black;
    border: solid;
    width: 50vw;
}
section.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
section.mensagem{
    text-align: center;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
div.enviarl{
    float: right;
    padding-right: 15px;
    padding-bottom: 5px;
}
div.login{
    float: left;
    padding-left: 15px;
    padding-bottom: 5px;
}
input{
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-color: rgb(0, 0, 0);
    color: white;
}
input.enviar{
    background-color: rgb(255, 255, 255);
    color: black;
}
p.mover{
    text-align: right;
}
::placeholder{
    color: white;
}
h3{
    color: white;
    text-align: center;
}
a{
    color: rgb(0, 0, 0);
}